@use '../abstracts/variables' as *;
// Typography

html {
  font-size: $font-size;
}
body {
  font-family: $font-family;
}
h1 {
  color: $primary-color;
  font-size: 1.5rem;
}
h4 {
  color: $accent-color;
}
p {
  color: $accent-color;
  font-size: 0.9rem;
  font-weight: normal;
}
.share-box h4 {
  letter-spacing: 0.5rem;
  color: $secondary-color;
  font-weight: lighter;
}
i {
  cursor: pointer;
  font-size: 1.65rem;
  color: white;
  &:hover {
    color: $accent-color;
  }
  &.share-icon {
    color: $primary-color;
    font-size: 1.3rem;
  }
}

.avatar {
  h4 {
    color: $primary-color;
    p {
      color: $secondary-color;
    }
  }
}
