// Variables

// # Colors
$secondary-color: hsl(212, 23%, 69%);
$primary-color: hsl(217, 19%, 35%);
$bg-color: hsl(210, 46%, 95%);
$accent-color: hsl(214, 17%, 51%);

// # Typography
$font__size: 13px;
$font__family: 'Manrope', sans-serif;

// # Others
$radius: 0.675rem;

// # Transitions
$dur: 0.3s;
$eff: cubic-bezier(0.65, 0.05, 0.36, 1); // easeInOutCubic
$tr: $dur $eff;

// # Breakpoints
$br-1: 570;

// # Custom Props
:root {
  // # Others
  --share-box-width: 18rem;
  --share-box-height: 4rem;
  --spacing-sml: 1rem;
  --spacing: 1.25rem;
  --spacing-lrg: 2.5rem;
}
