@use '../abstracts' as *;
@use '../core' as *;
// Article

body {
  background: $bg-color;
}

#container {
  width: clamp(8rem, 780px, 85%);
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: $radius;
  overflow: hidden;

  @include flex-row(center);
  @include media($br-1) {
    @include flex-col(center, center);
    height: auto;
  }
  transform: translate(-50%, -50%);
  box-shadow: 0 0 100px -30px black;
  .image {
    width: 40%;
    height: 100%;
    background : {
      image: url('/images/drawers.jpg');
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    @include media($br-1) {
      width: 100%;
      height: 250px;
    }
  }
  .content {
    width: 60%;
    padding: var(--spacing) 2rem;
    @include media($br-1) {
      width: 100%;
      padding: var(--spacing) var(--spacing-lrg);
    }
    .desc {
      margin: var(--spacing) 0;
      @include media($br-1) {
        margin: var(--spacing-lrg) 0;
      }
    }
    .contact {
      position: relative;
      @include flex-row(space-between, center);
      .avatar {
        @include flex-row(space-between, center);
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
        h4 {
          margin-left: var(--spacing-sml);
        }
      }
      .share-icon {
        width: 35px;
        height: 35px;
        padding: 0.75rem;
        background: lighten($secondary-color, 10%);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .share-box {
    --opacity: 0.85;
    --dir: center;
    position: absolute;
    height: var(--share-box-height);
    width: var(--share-box-width);
    background: rgba($primary-color, var(--opacity));
    border-radius: $radius;
    @include flex-row(var(--dir), center);
    right: var(--spacing-lrg);
    bottom: var(--spacing-lrg);

    @include media($br-1) {
      --share-box-width: 100%;
      --share-box-height: 100%;
      --opacity: 1;
      --dir: left;
      left: 0;
      right: 0;
      border-radius: 0;
      transform: translateY(15px);
      @include flex-row(var(--dir), center);
      width: calc(var(--share-box-width) + var(--spacing-lrg) * 2);
      height: calc(var(--share-box-height) + var(--spacing-lrg));
      bottom: calc(0rem - var(--spacing));
      padding-left: var(--spacing-lrg);
    }
    //? Js
    pointer-events: none;
    opacity: 0;
    transform: translateY(15px) skewY(0deg);
    .social > * {
      margin-left: 1rem;
    }
  }
  //? Js
  &.active {
    .content {
      .share-icon {
        background: $accent-color;
        color: white;
        z-index: 5;
      }
    }
    .share-box {
      pointer-events: all;
      opacity: 1;
      transform: translateY(0) skewY(5deg);
      @include media($br-1) {
        transform: translateY(0) translateX(-2.5rem);
      }
    }
  }
}
